* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: cursive;
}

.container {
  width: 100%;
  height: 100vh;
  background-color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.container > h1 {
  color: aliceblue;
  font-size: 3rem;
}
h1:hover {
  transform: scale(1.1);
}

.buttonClass {
  padding: 3vmax;
}

button {
  font-weight: bolder;
  font-size: 1.5vmax;
  width: 10vmax;
  border: 1px solid white;
  padding: 0.8em;
  border-radius: 3vmax;
  margin: 1vmax;
  cursor: pointer;
  transition: all 0.2s;
}
button:hover {
  background-color: black;
  color: white;
}
